<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col" *ngFor="let crossword of crosswords; let i = index;">
        <div class="crossword-box mdl-color--blue-grey-300 mdl-color-text--white" routerLink="{{crossword.id}}">
            <div class="rating">
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
            </div>
            <span>{{crossword.id}}</span>
        </div>
    </div>
</div>